@model Online_Exam.Models.Exam

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IS_shuffle_Q)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IS_shuffle_Q)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IS_shuffle_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IS_shuffle_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminstrationEmailNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminstrationEmailNavigation.U_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Exam_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
